<phpunit bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Application">
			<directory>test</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="clover.xml"/>
	</logging>
</phpunit>
