
table.SimpleCalendar {
	font-family: Arial;
	border-collapse: collapse;

	th {
		background: #C9E9F0;
		color: #0092B4;
		font-size: 11px;
		padding: 3px;
		border: 1px solid #bbb;
	}

	tbody {

		td {

			time {
				font-size: .7em;
				display: block;
				background: white;
				padding: 2px;
				text-align: right;
				font-weight: bold;
			}

			vertical-align: top;	
			width: 90px;
			height: 90px;;
			border: 1px solid #bbb;	
			background: rgb(230, 230, 230);

			&.SCsuffix, &.SCprefix {
				background: white;
			}

			div.event {
				color: #355;
				font-size: .65em;
				margin: 2px;
				padding: 5px;
				line-height: 1em;
				border-bottom: 1px solid #bbb;
				background: rgb(133, 133, 133);
				color: white;
				border-radius: 3px;
				
				.eventdetails {
					display: none;
				}
			}
			
			div.event:hover .eventdetails {
				display: inline-block;
				font-style: italic;
			}
			
			div.event.hasDetails {
				cursor: pointer;
			}

			div.event.hasPrevious {
				margin-left: 0;
				border-radius: 0 3px 3px 0;
			}
			
			div.event.hasNext {
				margin-right: 0;
				border-radius: 3px 0 0 3px;
			}
			
			div.event.hasPrevious.hasNext {
				border-radius: 0;
			}
		}

		td.today {
			background: #D1D1D1;
		}

	}

}