
table.SimpleCalendar {
	font-family: Arial;
	border-collapse: collapse;

	th {
		background: #C9E9F0;
		color: #0092B4;
		font-size: 11px;
		padding: 3px;
		border: 1px solid #bbb;
		border-top: none;
	}

	tbody {

		td {

			time {
				font-size: .7em;
				display: block;
				background: white;
				padding: 2px;
				text-align: right;
				font-weight: bold;
			}

			vertical-align: top;	
			width: 90px;
			height: 90px;;
			border: 1px solid #bbb;	
			background: rgb(230, 230, 230);

			&.SCsuffix, &.SCprefix {
				background: white;
			}

			div.event {

				color: #355;
				font-size: .65em;
				padding: 5px;
				line-height: 1em;
				border-bottom: 1px solid #bbb;
				background: rgb(133, 133, 133);
				color: white;

			}

		}

		td.today {
			background: rgb(210, 210, 210);
		}

	}

}